* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  direction: rtl;
}

/* ---For Mobile--- */

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main-color);
  color: var(--main-color);
}

.containerHafiz {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 10px;
  background: linear-gradient(
    to top right,
    var(--bg-third-color),
    var(--bg-second-color),
    var(--bg-highlight-color),
    var(--bg-main-color)
  );
  background-size: 150% 150%;
  animation: bg 15s ease infinite;
}

@keyframes bg {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.containerHafiz .pictureHafiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHafiz .pictureHafiz img {
  max-width: 100%;
  height: auto;
}

.overview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  padding: 10px 0;
}

.overview h2 {
  font-size: 18px;
  font-family: var(--font-third);
  font-weight: 600;
  padding: 12px 0;
}

/* carousel--start */
.overview .Hadiths {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px;
  padding: 10px;
  border: 3px solid #76abaea8;
  border-radius: 20px;
  background-color: #76abae9c;
  width: 80%;
  height: 200px;
}

.overview .Hadiths p {
  font-size: 18px;
  font-family: var(--font-second);
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: center;
  padding: 0 30px;
}

.overview .Hadiths .active {
  opacity: 1;
}

.overview .Hadiths button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #3333331d;
  color: var(--bg-highlight-color);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.next {
  left: 0;
}

.prev {
  right: 0;
}

.indicators {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 5px;
}

.indicators span {
  width: 20px;
  height: 3px;
  background: var(--bg-highlight-color);
  border-radius: 15% 15% 15% 15%;
  cursor: pointer;
}

.indicators .active {
  background: #3333338f;
}
/* carousel--end */

.overview .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--second-color);
  background-color: var(--bg-second-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-third);
  width: 100px;
  height: 50px;
  margin: 5px 0;
  padding: 20px 10px;
  border-radius: 20px;
  transition: 0.6s;
}

/* --Navbar-- */
.nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 44px;
  padding: 18px 0;
  box-shadow: 0 0 3px var(--bg-third-color), 0 0 10px var(--bg-third-color);
  background-color: var(--bg-second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  min-width: 40px;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-third);
  color: var(--main-color);
  border: none;
  transition: 0.8s;
}

.nav #logIn {
  color: var(--gold-color);
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: var(--bg-third-color);
  color: var(--third-color);
  width: 100%;
  height: 30vh;
}

footer .infoContact {
  width: 100%;
  height: 20%;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer .infoContact a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--second-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--second-color);
  transition: 0.4s;
}

footer .line {
  width: 100%;
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--bg-second-color),
    transparent
  );
}

footer .copyRgiht {
  width: 100%;
  height: 40%;
  margin: 20px;
  padding: 10px;
}

footer .copyRgiht p {
  color: var(--second-color);
  font-family: var(--font-third);
  direction: ltr;
}